* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

section#one {
    display: flex;
    flex-direction: column;
    padding: 1rem 16rem;   
    background-color: #1f2937;
}

section#one header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section#one header h1 {
    font-size: 24px;
    color: #f9faf8;
}

section#one header ul {
    display: flex;
    list-style-type: none;
    gap: 1rem;
}

section#one header a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

section#one header a:hover {
    color: #616a75;
}

section#one div#hero {
    display: flex;
    gap: 2rem;
    padding: 8rem 0 7rem 0;
}

section#one div#hero h2 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

section#one div#hero p {
    font-size: 18px;
    color: #e5e7eb;
    margin: 1rem 0;
}

section#one div#hero button {
    padding: 8px 32px;
    font-size: 18px;
    color: #f9faf8;
    font-weight: 700;
    background-color: #3882f6;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

section#one div#hero button:hover {
    color: #f9faf8c0;
    background-color: #3881f6a8;
}

section#one div#hero .container {
    flex: auto;
}

section#one div#hero .img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 18px;
    color: #e5e7eb;
    background-color: #616a75;
}

section#two {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section#two h3 {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    padding: 4rem 0;
}

section#two .boxes {
    display: flex;
    gap: 2rem;
    padding: 0 20rem 8rem;
}

section#two .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

section#two .box-img {
    width: 10rem;
    height: 10rem;
    border: 4px solid #3882f6;
    border-radius: 16px;
}

section#two .box-txt {
    text-align: center;
    font-size: 18px;
    color: #1f2937
}

section#three {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    padding: 8rem 20rem;
}

section#three .quote {
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
    font-style: italic;
}

section#three .author {
    font-size: 24px;
    color: #1f2937;
    font-weight: 900;
    margin: 1rem 0;
    align-self: flex-end;
}

section#four {
    display: flex;                                                                                          
    justify-content: center;
    align-items: center;
    padding: 8rem 16rem;
}

section#four .cta {
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 4rem;
    background-color: #3882f6;
    border-radius: 12px;                                                                                                                                      
}

section#four h4 {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 900;
}

section#four p {
    font-size: 18px;
    color: #f9faf8;
}

section#four button {
    padding: 8px 32px;
    font-size: 18px;
    color: #f9faf8;
    font-weight: 700;
    background-color: #3882f6;
    border: 2px solid #f9faf8;
    border-radius: 8px;
    cursor: pointer;
}

section#four button:hover {
    color: #f9faf880;
    background-color: #3881f673;
    border: 2px solid #f9faf880;
}

footer {
    background-color:#1f2937;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    font-size: 18px;
    color: #e5e7eb;
}